body {
	display: block;
	background-color: gray;
}




// Container PAI da Galeria
.galeria-container {
	display: block;
	width: 100%;
	max-width: calc(100vw - 100vh);
	margin: auto;

	& .galeria-imagem {
		display: block;
		width: 100%;
		position: relative;

		& img {
			display: block;
			width: 100%
		}

		& .galeria-left {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		& .galeria-right {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}

	& .galeria-controles {
		display: block;
		width: 100%;
		background-color: blue;
	}

}